.h_wrapper {
  background-color: var(--black);
  color: white;
}

.header {
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--secondary);

}

.button a {
  display: flex;
  align-items: center;
  background: var(--blue-gradient);
  color: #fff;
  padding: 0.6rem 1.4rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  transition: all 300ms ease-in;
  margin-left: 1rem
}

.button a:hover {
  transform: scale(1.1);
}



