.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0;
}

.banner {
  background: var(--black);
  position: relative;
  overflow-x: clip;
}

.white_gradient {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: rgba(255,255,255,0.522);
  filter: blur(100px);
  border-radius: 100px
}

@media (max-width: 1000px) {
  .banner {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .categories {
    justify-content: center;
  }
}
