.container {
  display: flex;
  flex-direction: column;
}
.container p {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;

}

.container p svg {
  margin-right: 5px;
  font-size: 1.3rem;
  color: #304ffe !important;
}

.link a {
  color: grey;
  margin: 5px;
}



.link a svg {
  margin-right: 5px;
  color: #304ffe;
  text-align: center;
}

.link {
  display:flex;
  flex-direction: column;
}

.link a:first-child {
  margin-left:25px;
}